AMCMEP_DATABASE_URL=postgresql://user:password@vps.example.com:5432/amcmep
DATABASE_URL=postgresql://user:password@vps.example.com:5432/amcmep
WORKOFHUMAN_DATABASE_URL=postgresql://user:password@vps.example.com:5432/workofhuman
CONTROL_DATABASE_URL=postgresql://user:password@vps.example.com:5432/sge_datahub
DATABASE_SSL=false
